argparse==1.4.0
auto-gptq==0.2.2
bitsandbytes==0.41.1
chainlit==0.6.402
chromadb==0.4.8
ctransformers==0.2.26
docx==0.2.4
docx2txt==0.8
elevenlabs==0.2.26
faiss-cpu==1.7.4
flask==2.3.3
httptools==0.6.0
httpx-oauth==0.3.5
hugchat==0.0.8
instructorembedding==1.0.1
ipdb==0.13.13
langchain==0.0.191
langsmith==0.0.35
llama-cpp-python==0.1.66
openai==0.27.8
openai-whisper==20230314
openpyxl==3.1.2
pdfminer.six==20221105
pip-chill==1.0.3
psycopg2==2.9.9
pyaudio==0.2.13
pypdf==3.15.5
python-docx==0.8.11
pyttsx3==2.90
sentence-transformers==2.2.2
speechrecognition==3.10.0
streamlit-bokeh-events==0.1.2
streamlit-chat==0.1.1
streamlit-player==0.1.5
uvloop==0.17.0
xyzservices==2023.7.0